

<div class="span8 offset2 quiz_results">
  <div class="quiz_results_options_header">
  	<h6>Keep practicing and improving and you'll improve your musicianship quickly. What do you want to do next?</h6>
  </div>
  <div class="quiz_results_options_body">
    links go here...<br>
 
  </div>

</div>