<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You've changed your grade for <%= @lesson_title %></h1>
    <p>
      Your grade was just changed to <%= @new_lesson_rating %> from <%= @previous_lesson_rating %>
    </p>
    <p>
      Remember: every time you practice matters. The best in the world got that way because of hard work.
    </p>
  </body>
</html>