<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ear Tracker Ear Trainign Software" />

   <!-- bootstrap minified -->
   <link rel="stylesheet" href="/blog/css/bootstrap.min.css" type="text/css" />

   <!-- bootstrap-responsive minified -->
   <link rel="stylesheet" href="/blog/css/bootstrap-responsive.min.css" type="text/css" media="screen, projection" />

   <!-- custom css -->
   <link rel="stylesheet" href="/blog/css/custom.css" type="text/css" />

    <!-- google font -->
   <link href='http://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>


</head>
<body>



<div class="nav-background">
<div class="blog-nav">
  <a class="pull-left" href="http://www.eartracker.com"><img src="images/eartutor_black.png" alt ="Ear Tutor" /></a>
    <ul class="blog-nav-links pull-right">
      <li><a href="http://www.eartutor.com">Home</a></li>
      <li><a href="http://www.eartutor.com/about">About</a></li>
      <li><a href="http://www.eartutor.com/pricing">Pricing</a></li>
      <li><a href="http://www.eartutor.com/users/sign_in">Login</a></li>
    </ul>
  </div>
</div>

<div class="blog-list">
  {{ content }}
</div>

  <div class="footer">
    <div class="container">
      <div style="text-align: center">
      <p><a href="http://eepurl.com/BVQCD">Like these posts? Subscribe to this blog!</a><p>
      </div>
    </div>
    
  </div>





<!-- Google Analytics -->

<!-- Google Analytics end -->

</body>
</html>
