<div class="container" style="padding-top: 40px; padding-bottom: 20px; text-align: center; font-family: Merriweather;">
<h2>About</h2>
  <div class="row">
    <div class="span8 offset2" style="vertical-align: middle; text-align: left;">
      <hr>
      <h5>Who Created This</h5>
      <p>During the day, I run a software company. But when work ends I have a guitar in my hands more often than not. I grew up playing trombone since the age of 6 and picked up guitar about 15 years after that. I love playing music. Alone, by myself, it doesn't matter. What matters to me though is that I can play what I want. That I can pick up new concepts and styles quickly and I can improve as quickly as I can.</p>
      <br>

      <h5>What Matters to Me</h5>
      <p>I'm busy. I love my day job but unfortunately it also means that I'm working on nights and weekends. I know just how incredibly valuable ear training was to my development as a musician and I want to share it with as many people as I can. For, what matters most is: </p>

      <ul style="list-style: none;">
      	<li><img src="/assets/green_checkmark.png" />I know exactly what I need to work on when I practice</li><br>
      	<li><img src="/assets/green_checkmark.png" />I can measure my improvement from day to day and week to week</li><br>
      	<li><img src="/assets/green_checkmark.png" />I can spend as much time as possible making music</li><br>
      </ul>

      <p>This ear training program embodies these three goals of mine completely.</p>
      <br>

      <h5>My Musical interests</h5>
      <p>My favorite style of music to play is jazz and blues. But I also love to play rock, folk and some classical guitar. I've found that ear training significantly helps your ability to play regardless of the style of music because the only difference between once you can instantly recognize intevals and progressions, you can pick up any music very quickly.</p>
      <br>

      <h5>My Guarantee</h5>
      <p>This program means a lot to me. Improving my ear is the single most valuable thing I've ever done for myself as a musician. While it took a long time for me, it doesn't have to for you. This program works. And I personally guarantee it. Not only do I offer a 100% money back guarantee, but you can keep the music files.</p>
      <br>

    </div>
  </div>
</div>
<div class="container" style="text-align: center;">
    <%= link_to image_tag('start_free_trial_02.jpg'), pricing_path %>
</div>