 <!--! close open divs sliders can be used -->
</div>
</div>

</div>
</div>
 <!--! end of .container -->

<section class="" style="text-align: center; margin-top: 40px !important; background: #fff;">

	<div>
    <h6 style="font-family: Merriweather; text-align: center; color: #b3b3b3">Are You Tired of Ear Training Software That Doesn't Produce Results?</h6>
		<h1 style="font-family: 'Merriweather', serif; font-size: 32px; line-height: 1.5; color: #1a344d;"> 
     Results-Driven Ear Training Software<br> For Musicians Who Hate Wasting Practice Time</h1>
      <h3 style="font-family: 'Merriweather', serif; font-size: 18px; line-height: 1.5; color: #e56b00; text-align:center; padding-top:20px; padding-bottom: 30px; ">"With Perfect Ear Training I Know Exactly What I Need to Do<br> to Improve My Ear Every Time I Practice"</h3>
      <img src="assets/jointoday.jpg" />
	</div>
</section>

<!-- End of hero text. start of services. -->
	<div id="showcase" style="background: #fff;">
       <div class="container">
           <div class="section_header">
               <h3>Achieve What You Want As A Musician</h3>
           </div>            
           <div class="row feature_wrapper">
               <!-- Features Row -->
               <div class="features_op1_row">
                   <!-- Feature -->
                   <div class="span4 feature first">
                       <div class="img_box">
                           <a href="services.html">
                               <img src="/assets/service1.png">
                               <span class="circle"> 
                                   <span class="plus">&#43;</span>
                               </span>
                           </a>
                       </div>
                       <div class="text">
                           <h6>Music Beginners</h6>
                           <p>
                               Fast-track your music education by developing your ear. Ask any top quality musician and they'll tell you that the secret to being a great musician is to work on your ear training.
                           </p>
                       </div>
                   </div>
                   <!-- Feature -->
                   <div class="span4 feature">
                       <div class="img_box">
                           <a href="services.html">
                               <img src="/assets/service2.png">
                               <span class="circle"> 
                                   <span class="plus">&#43;</span>
                               </span>
                           </a>
                       </div>
                       <div class="text">
                           <h6>Hobbyist Musicians</h6>
                           <p>
                               Get the most out of your practice sessions by learning to play what you hear and understand the relationship between notes and chords.
                           </p>
                       </div>
                   </div>
                   <!-- Feature -->
                   <div class="span4 feature last">
                       <div class="img_box">
                           <a href="services.html">
                               <img src="/assets/service3.png">
                               <span class="circle"> 
                                   <span class="plus">&#43;</span>
                               </span>
                           </a>
                       </div>
                       <div class="text">
                           <h6>Professionals</h6>
                           <p>
                               Don't waste your time. Track your progress and find out exactly where you can improve your ability to hear.
                           </p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
<!-- Features section -->

<div id="features">
       <div class="container">
           <div class="section_header">
               <h3>Features</h3>
           </div> 
           <div class="row feature">
               <div class="span6">
                   <img src="/assets/showcase1.png" />
               </div>
               <div class="span6 info">
                   <h3>
                       <img src="/assets/features-ico1.png" />
                       Contet
                   </h3>
                   <p>
                       Learn how to hear notes as they relate to chord progressions. We believe in contextual ear training and learning to hear notes as they sound when played against chords. We make sure you can immediately use what you learn.
                   </p>
               </div>
           </div>
           <div class="row feature ss">
               <div class="span6 info">
                   <h3>
                       <img src="/assets/features-ico2.png" />
                       60+ Chord Progressions.
                   </h3>
                   <p>
                       When you're on stage there's no time to think about what a 1 6 2 5 sounds like. You need to know what's being played so you can play along. You'll be amazed at how you start recognizing chord progressions in any piece of music you listen to.
                   </p>
               </div>
               <div class="span6">
                   <img src="/assets/showcase2.png" class="pull-right" />
               </div>
           </div>
           <div class="row feature ss">
               <div class="span6">
                   <img src="/assets/showcase3.png" />
               </div>
               <div class="span6 info">
                   <h3>
                       <img src="/assets/features-ico3.png" />
                       Track Everything
                   </h3>
                   <p>
                       What matters is that you get better. Track all of your responses as soon as you sign up so you can understand how you're improving and where you have difficulty. The only way to get better is to measure.
                   </p>
               </div>
           </div>
       </div>
   </div>

 <!-- Pricing Option -->
    <div id="in_pricing">
        <div class="container">
            <div class="section_header">
                <h3>Pricing</h3>
            </div>
            
            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="span3">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Silver</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">9</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>1000+ </strong>
                                    Ear Training Files
                                </p>
                                <p>
                                    <strong>Full</strong>
                                    Analytics & Tracking
                                </p>
                                
                            </div>
                            <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'order' %> 
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                
                <div class="span4 pro">
                    <div class="plan">
                        <div class="wrapper">
                            <img class="ribbon" src="assets/badge.png">
                            <h3>Gold</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">19</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                  <p>
	                                    <strong>1000+ </strong>
	                                    Ear Training Files
	                                </p>
									 <p>
		                                    <strong>65+ </strong>
		                                     Chord Progression Files
		                                </p>
	                                <p>
	                                    <strong>Full</strong>
	                                    Analytics & Tracking
	                                </p>
                               
                                
                            </div>
                            <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'order' %> 
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span3 standar">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Platinum</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">29</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                  <p>
	                                    <strong>1000+ </strong>
	                                    Ear Training Files
	                                </p>
									 <p>
		                                    <strong>65+ </strong>
		                                     Chord Progression Files
		                                </p>
	                                <p>
	                                    <strong>Full</strong>
	                                    Analytics & Tracking
	                                </p>
	
									<p>
	                                    <strong>Full</strong>
	                                    Analytics & Tracking
	                                </p>
									<p>
	                                    <strong>Downloads</strong>
	                                    Of All Files.
	                                </p>
                            </div>
                            <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'order' %> 
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="start">
                <p>Start your free, no-risk, 14 day trial! </p>
                <a href="pricing.html">Start Now!</a>
            </div>
        </div>
    </div>

<!-- clients div-->
 <div id="clients">
        <div class="container">
            <div class="section_header">
                <h3>Clients</h3>
            </div>
            <div class="row">
                <div class="span2 client">
                    <div class="img client1"></div>
                </div>
                <div class="span2 client">
                    <div class="img client2"></div>
                </div>
                <div class="span2 client">
                    <div class="img client3"></div>
                </div>
                <div class="span2 client">
                    <div class="img client1"></div>
                </div>
                <div class="span2 client">
                    <div class="img client2"></div>
                </div>
                <div class="span2 client">
                    <div class="img client3"></div>
                </div>
            </div>
        </div>
    </div>
