
<div class="container" style="padding-top: 15px; text-align: center; font-family: Merriweather;">
 <h2>21 DAY NO RISK FREE TRIAL. UPGRADE OR CANCEL AT ANY TIME.</h2>
<p style="font-size: 18px;">Less Than The Cost of 1 Lesson Per Month. 100% Money Back Guarantee.</p>
</div>


<div id="pricing_container">

  <div class="pricingtable" style="margin-left: 120px;">
  	<div class="top hobbyist">
      <h2>Hobbyist</h2>
    </div>

    <ul>
      <li><strong>Complete</strong> Ear Training</li>
      <li><strong>Full</strong> Analytics</li>
      <li><strong>Downloadable</strong> Files</li>
      <li><strong>24/7</strong> Email Support</li>
    </ul>

    <hr>

    <h1><sup>$</sup>19</h1>
    <p>per month</p>

    <%= link_to 'Sign Up', new_user_registration_path(:plan => 'silver')%> 

    <p style="padding-top: 10px; color: #413839;">21 Day Free Trial</p>
  </div>

  <div class="pricingtable  pricing_featured">
  	<div class="top professional">
      <h2>Professional</h2>
    </div>

    <ul>
      <li><strong>Complete</strong> Ear Training</li>
      <li><strong>45+</strong> Chord Progressions</li>
      <li><strong>Full</strong> Analytics</li>
      <li><strong>Downloadable</strong> Files</li>
      <li><strong>24/7</strong> Email Support</li>
    </ul>

    <hr>

    <h1><sup>$</sup>29</h1>
    <p>per month</p>

    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold') %> 

    <p style="padding-top: 10px; color: #413839;">21 Day Free Trial</p>
  </div>

  <div class="pricingtable unlimited_option">
  	<div class="top lifer">
      <h2>Lifer</h2>
    </div>

    <ul>
      <li><strong>Complete</strong> Ear Training</li>
      <li><strong>45+</strong> Chord Progressions</li>
      <li><strong>Full</strong> Analytics</li>
      <li><strong>Downloadable</strong> Files</li>
      <li><strong>24/7</strong> Email Support</li>
    </ul>

    <hr>

    <h1><sup>$</sup>99</h1>
    <p>1 Year Unlimited Access</p>

    <%= link_to 'Sign Up', new_user_registration_path(:plan => 'platinum')%>

    <p style="padding-top: 10px; color: #413839;">1 Day Free Trial</p>
  </div>
</div>

<div class="container" style="padding-top: 15px; text-align: center; font-family: Merriweather;">
 <h4>Ear training is the single greatest investment you can make in yourself as a musician.</h2>
<p style="font-size: 18px;"><a href="mailto:brad.milne@getelevate.com">Email me</a> directly if you have any questions.
</div>



