.nav-background {
	background: #F2F2F2;
}

.blog-nav {
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
}

.blog-nav-links {
  list-style: none;
}

.blog-nav-links li {
	display: inline;
	padding-left:10px;
}

.blog-title {
    padding-top: 60px;
}

.blog-title h1 {
    font-family: 'Marck Script', cursive; 
    font-size: 62px; 
    line-height: 1.2;
}

.blog-list {
	min-height: 500px;
}

.footer {
	background: #F2F2F2;
	min-height: 300px;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
}

.footer p {

	color: #fff;
}

.blog-post-index {
    background-image:url('blog/images/grid.png');
    text-align: left;

}

.blog-post-index h6 {
   padding-bottom: -15px;
}

.blog-post-index span {
	font-size: 11px;
	color: #777;
}

.post-title {
	padding-top: 60px;
}

.post-title h1 {
	font-family: 'Marck Script', cursive; 
    font-size: 44px; 
    line-height: 1.2;
    text-align: center;
}

.post-content {
	margin: 0 auto;
	max-width: 800px;
}
.post-content p {
	font-family: Georgia, sans-serif;
	font-size: 16px;
}

#mc_embed_signup{
	width: 300px;
	background:#fff; 
	clear:left; 
	font:14px Helvetica,Arial,sans-serif; 
	background: #fff;
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
	text-align: left;
	border: 1px solid #A8A8A8;
    display: inline-block;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.related-posts {
	text-align: center;
}

.related-posts h6 {
	font-family: 'Marck Script', cursive; 
    font-size: 30px; 
    line-height: 1.2;
}

.related-posts ul {
	list-style: none;
}