
  <h1>Lessons</h1>
  <p>Select any lesson to start learning.</p>

 
  	<div class="span6">
  	  <h2>Ear Training</h2>
      <% @lessons_et.each do |lesson| %>
        <%= lesson.title %><br>
        <%= link_to 'Check out lesson', lesson_path(lesson) %>
      <% end %>
    </div

    <div class="span6">
      <h2>Chord Progressions</h2>
      <% @lessons_cp.each do |lesson| %>
        <%= lesson.title %><br>
        <%= link_to 'Check out lesson', lesson_path(lesson) %>
      <% end %>
    </div>



