


<div class="row">
<div class="page_title">
  <h2 style="font-family: 'Merriweather', serif; font-size: 34px; line-height: 1.25; color: #1a344d;">Chord Progressions</h2>
  <p style="font-family: 'Merriweather', serif; font-size: 18px; line-height: 1.25; color: #e56b00;">Click any lesson title below to get started</p>
</div>
</div>
<hr>

<% @lessons_cp.each do |lesson| %>

<div class="lesson_box span4 clearfix">
  <div class="lesson_box_top">
    <h4 style="font-family: 'Merriweather', serif; font-size: 16px; line-height: 1.25; color: #1a344d;"><%= link_to lesson.title, lesson_path(lesson) %></h4>
  </div>
  <div class="lesson_box_description">
    <p style="color: #919FAF; font-family: Helvetica Neue"><%= lesson.description %></p>
  </div>
  <div class="lesson_box_stats">
    <h6 class="big_lesson_stats"><%= lesson.rating %></h6>
   </div
</br>
    <div class="lesson_box_options">
      <%= link_to 'Take Quiz!', new_lesson_quiz_path(lesson), {:class => "btn btn-primary"} %>
    </div>
</div>



 <% end %>