<p>You're doing great! Your're averagig x% this week compared to your overall average of 15%</p>
<hr>
<h2>Ear Training Lessons</h2>
<p>Select any lesson below to start learning.</p>


<% @lessons_et.each do |lesson| %>
<div class="lesson_box span4 clearfix">
  <div class="lesson_box_top">
  	<h4><%= lesson.title %></h4>
  </div>
  <div class="lesson_box_description">
    <p>Add a description to each lesson here? The major scale tones are the most important tones are they combine to form a major chord. They consist of the root, major 3rd and major 5th. You'll find them the easiest so let's start here.</p>
  </div>
  <div class="lesson_stats">
  	<p>Your average score is 18% and your best is 19%</p>
   </div
</br>
    <div class="lesson_box_options">
      <%= link_to 'Check out lesson', lesson_path(lesson), {:class => "btn btn-primary"} %> or <%= link_to 'Take quiz', new_lesson_quiz_path(lesson) %>
    </div>
</div>	
 <% end %>
